.main_container{
  display:flex;
  justify-content: center; 
  align-items: center; 
  
  
  
}

.main_text_container{
  justify-content: center; 
  align-items: center; 
  text-align: center;
  width: 952px;
  height: 334px;
}

.container_large_text{
  padding: 50px;
  font-size: 45px;
  font-weight: 500;
  

}

.container_small_text{
  display:flex;
  justify-content: center; 
  align-items: center;

}

.container_small_text2{
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  text-align: center;
  width: 275px;
  height: 62px;

}

.right_header_btn{
  width: 124px;
  height: 34px;
  border-radius: 23px;
  background-image: linear-gradient(to right, #2B59FF, #BB2BFF); 
  align-items: center;
  padding:5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #E0E0E0;
}
